<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>校园宝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9B701D11E61D08100B3FCB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B701EA1E61D08100B3FCB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B701F51E61D08100B3FCB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
